<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @propaty.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @propaty.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @propaty.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @propaty.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @propaty.note %>
</p>

<% @propaty.closest_stations.each_with_index do |cs, idx| %>
  <p><strong>Closest Station <%= idx + 1 %></strong><p>
  <p>
    <strong>Route:</strong>
    <%= cs.route_name %>
  </p>

  <p>
    <strong>Station:</strong>
    <%= cs.station_name %>
  </p>
<% end%>
<%= link_to 'Edit', edit_propaty_path(@propaty) %> |
<%= link_to 'Back', propaties_path %>
